.carousel {
    position: relative;
    width: 100%;

    margin: auto;
    overflow: hidden;
  }
  
  .carousel-slides {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .carousel-slide {
    display: none; /* Mostrar solo un slide a la vez */
    width: 100%;
    text-align: center;
  }
  
  .carousel-slide img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  
  .carousel-prev:hover,
  .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  

 #marca-de-agua{
  position: absolute;
  top: 50%;
  background-color: #0000002d;
  color: #ffffff58;
  
 }