.container-formulario-envio{
    width: 80%;
}

.checkout-form{
    display: flex;
    flex-direction: column;
}

.input-check-form,
.input-doble{
    background-color: #ebebeb;
    padding: 5px;
    margin: 1px 5px;
    text-align: center;
    border-radius: 5px;
}

.input-check-form input,
.input-doble input{
    margin: 0px;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}

.checkout-form button{
    margin:5px 0px 20px 0px;
    width: 150px;
    height: 40px;
    align-self: center;
}


.input-doble{
    display: flex;
    padding: 5px 20px;
}

.input-doble div{
    width: 100%;
}

